:root
{
  background-color: rgb(30,30,30);
}

img
{
  display: block;
  margin: auto;
}

h1
{
  font-family: "Verdana" , sans serif;
  text-decoration: underline;
  font-size: 24px;
}

h2
{
  text-decoration: underline;
}
