:root
{
  background-color: rgb(50,50,50);
  --Blue: #013c65;
}

body
{
  text-align: center;
}

nav
{
  border: 10px inset gold;
}

h1
{
  text-decoration: underline;
  font-size: 54px;
}

h2
{
  text-decoration: underline;
  font-size: 24px;
}

section
{
  border: 8px dotted gold;
}

.date
{
  color: var(--Blue);
}

ul
{
  list-style: none;
}
  


  

