:root
{
  background-color: rgb(100,100,100);
  --UNC-Blue: #013c65;
}

body
{
  text-align: center;
  color: var(--UNC-Blue);
}

nav
{
  border: 10px inset gold;
  margin: 10vw;
}

h1
{
  text-decoration: underline;
  font-size: 54px;
}

h2
{
  text-decoration: underline;
  font-size: 24px;
}

img
{
  float: right;
}

section
{
  border: 8px inset;
  border-color: var(--UNC-Blue);
  margin: 10vw;
}

ul
{
  list-style: none;
}
  


  

